<div class="shadow-sm bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <p class="navbar-brand fw-bold">Covid 19 - <span class="fw-bold text-danger">Sri Lanka</span></p>
        <!-- <div class="d-flex">
          <p class="m-2 c-point" type="button" (click)="langselect(1)" >தமிழ்</p>
          <p class="m-2" (click)="langselect(2)">සිංහල</p>
          <p class="m-2" (click)="langselect(3)" >English</p>
        </div> -->
        <div class="d-flex">
          <span class="badge bg-warning text-dark">App In Developement</span>
        </div>
      </div>
    </nav>
  </div>
</div>

