
.cardstyle-red{
  border: 2px solid rgb(248, 39, 39);
   background-color: white;
   color: rgb(248, 39, 39);
}

.cardstyle-default{
  border: 2px solid hsl(248, 39%, 39%);;
   background-color: white;
   color: hsl(248, 39%, 39%);;
}


